<%- include ../../core/commun/library.ejs %>

<%- include ../../core/front/templates.navbar.ejs %>

<%- include ../../core/front/bar/category.ejs %>

<br>
<%#= __('name_shop') %>

<div class="container" width="100%">

    <%- include product/list.ejs %>


</div>

<%- include ../../core/front/bar/news-letter.ejs %>

<%- include ../../core/front/layout %>

<%- include ../../core/front/product/javascript.ejs%>
