<div class="">
    <h4 style="color:forestgreen"><a href="/admin"></a>PRODUCT MODIFICATION</h4>

    <form role="form" action="/admin/product/edit/validation/<%=product.id%>" method="POST">
        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('name') %> </label>
                           <input type="text" class="form-control" id="name" name="name"
                                  placeholder="<%= __('Please enter your name') %>"
                                  value="<% if (product && product.name) { %> <%= product.name %>  <% } %>">

                <input type="hidden" name="id" id="id" value="<%= product.id %>">

            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('price') %> </label>
                    <input type="text" class="form-control" id="price" name="price"
                           placeholder="<%= __('Please enter the price') %>"
                           value="<% if (product && product.price) { %> <%= product.price %>  <% } %>">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('Inventory') %> </label>
                    <input type="text" class="form-control" id="stock" name="stock"
                           placeholder="<%= __('Please enter the inventory') %>"
                           value="<% if (product && product.stock) { %> <%= product.stock %>  <% } %>">

            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('Category') %> </label>


                        <select id = "idCategory" name="idCategory" class="form-control">            

                    <% if (typeof categoryOption == 'object' && categoryOption) { %>

                    <% categoryOption.forEach(function(category){ %>

                    <option value="<%= category.idCategory %>"><%= category.name %>
                    </option>

                    <% }) %>

                    <% } else { %>

                    <option value="Empty"> <%= __('Empty') %></option>

                    <% } %>

                </select>



            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('representative picture') %> </label>
                           <input type="text" class="form-control" id="thumbnail" name="thumbnail"
                                  placeholder="<%= __('representative image URL input please') %>"
                                  value="<% if (product && product.thumbnail) { %> <%= product.thumbnail %>  <% } %>">

            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('Product photos') %> </label>

                     <input type="text" class="form-control" id="photos" name="photos"
                            placeholder="<%= __('product images URL to enter your (comma as the separator)') %>"
                            value="">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('product') %> </label>
                            <Select name="related" class="form-control">
                                
                    <Option value=""> <%= __('No') %></option>

                    {% for product in products %}
                    <option value="{{ product.id %>">{{ product.name
                        %>
                    </option>
                    {% endfor %}
                </select>

            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('tags') %> </label>

                           <input type="text" class="form-control" id="tags" name="tags"
                                  placeholder="<%= __('Please enter tags separated by commas') %>" value="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('description') %> </label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="4"
                          placeholder="<%= __('the product to explain MARKDOWN format as input please') %>"
                          value="<% if (product && product.description) { %> <%= product.description %>  <% } %>">
                </textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6" style="text-align: center;align-content: center">
                <button type="submit" class="btn btn-primary btn-lg pull-right"> <%= __('save') %></button>
            </div>

        </div>
    </form>
</div>
<br>

<%- include productImageUpload.ejs %>
